@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}

html {
  font-size: 62.5%;
  color: #191453;
}

@media only screen and (max-width: 26.5626em) {
  html {
    font-size: 50%;
  }
}

/* @media only screen and (max-width: 22.5em) {
  html {
    font-size: 55%;
  }
} */

button {
  outline: none;
}

.features {
  background-image: url(./images/vector_11.png);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: 0 -35%;
}

@media only screen and (max-width: 48em) {
  .features {
    background: none;
  }
}

.carousel-container {
  transition: all 0.3s;
}

.build-info-img {
  background-image: url(./images/womensWithButton.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  min-height: 421px;
}

@media only screen and (max-width: 425px) {
  .build-info-img {
    min-height: 250px;
  }
}

/* typing animation */
.writeit {
  color: black;
  /* font-size: 3rem; */
  font-weight: 700;
  line-height: 38px !important;
  text-align: left;
  min-height: 130px;
}

.writeit span {
  color: #e18c5f !important;
}

.after {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
  animation: blink 1.3s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
