@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Catamaran", sans-serif;
  color: #191453;
}

.active-nav {
  background-color: blue;
  color: white;
  border-radius: 15px;
  margin: 10px 9px;
  padding: 9px 14px;
}

button {
  outline: none;
}

.features {
  background-image: url(../images/vector_11.png);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: 0 -35%;
}

@media only screen and (max-width: 48em) {
  .features {
    background: none;
  }

  .charges-container {
    background: url("../images/bg-black-sm-screen.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.carousel-container {
  transition: all 0.3s;
}

.build-info-img {
  background-image: url(../images/womensWithButton.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  min-height: 421px;
}

@media only screen and (max-width: 26.5625em) {
  .build-info-img {
    min-height: 250px;
  }
}

/* typing animation */
.writeit {
  color: black;
  font-size: 3rem;
  font-weight: 700;
  line-height: 38px !important;
  text-align: left;
  min-height: 130px;
}

.writeit span {
  color: #e18c5f !important;
}

.after {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
  animation: blink 1.3s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ///////////////////////// STYLING APPLICABLE TO DASHBOARD ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
html.dashboard body {
  font-family: "Poppins", sans-serif;
}

.display-block {
  display: block !important;
}
.display-none {
  display: none !important;
}
input,
textarea,
select {
  outline: none;
}

/* Animations */
.animtaion-infinite {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.rotation-animation {
  -webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
/* Radio Button */
.radio-style {
  border: 2px solid white;
  box-shadow: 0 0 0 1px #191453;
  appearance: none;
  border-radius: 5px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  transition: all ease-in 0.2s;
}
.radio-style:checked {
  background-color: #191453;
}
