@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Catamaran", sans-serif;
  color: #191453;
}

::marker {
  color: #260ded;
}

.active-nav {
  background-color: blue;
  color: white;
  border-radius: 15px;
  margin: 10px 9px;
  padding: 9px 14px;
}

button {
  outline: none;
}

.features {
  background-image: url(../images/vector_11.png);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: 0 -35%;
}

.carousel-container {
  transition: all 0.3s;
}

/* .offer-para {
  line-height: 2rem;
} */

#offer-para-1 {
  line-height: 2rem;
}

#offer-para-2 {
  line-height: 2rem;
}

#offer-para-3 {
  line-height: 2rem;
}

#offer-para-4 {
  line-height: 2rem;
}

#offer-para-5 {
  line-height: 2rem;
}

#offer-para-6 {
  line-height: 2rem;
}

.build-info-img {
  background-image: url(../images/womensWithButton.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  min-height: 421px;
}

/* typing animation */
.writeit {
  color: black;
  font-size: 3rem;
  font-weight: 700;
  line-height: 38px !important;
  text-align: left;
  min-height: 130px;
}

.writeit span {
  color: #e18c5f !important;
}

.after {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
  animation: blink 1.3s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 48em) {
  .features {
    background: none;
  }

  .charges-container {
    background: url("../images/bg-black-sm-screen.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

@media only screen and (max-width: 26.5625em) {
  .build-info-img {
    min-height: 250px;
  }
}

/* ///////////////////////// STYLING APPLICABLE TO DASHBOARD ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
body.dashboard {
  font-family: "Poppins", sans-serif;
}

/* .display-block {
  display: block !important;
}
.display-none {
  display: none !important;
} */

input,
textarea,
select {
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Animations */
.animtaion-infinite {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.rotation-animation {
  -webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
/* Radio Button */
.radio-style {
  border: 2px solid white;
  box-shadow: 0 0 0 1px #191453;
  appearance: none;
  border-radius: 5px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  transition: all ease-in 0.2s;
}
.radio-style:checked {
  background-color: #191453;
}

/* width */
.services-listing::-webkit-scrollbar,
.editor::-webkit-scrollbar,
.chat::-webkit-scrollbar,
.fc-scroller::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.services-listing::-webkit-scrollbar-track,
.editor::-webkit-scrollbar-track,
.chat::-webkit-scrollbar-track,
.fc-scroller::-webkit-scrollbar {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
.services-listing::-webkit-scrollbar-thumb,
.editor::-webkit-scrollbar-thumb,
.chat::-webkit-scrollbar-thumb,
.fc-scroller::-webkit-scrollbar-thumb {
  background: #e6e4e4;
  border-radius: 10px;
}

.chat::-webkit-scrollbar,
.chat::-webkit-scrollbar-track,
.chat::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.chat-box:hover .chat::-webkit-scrollbar,
.chat-box:hover .chat::-webkit-scrollbar-track,
.chat-box:hover .chat::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* #demo-desktop-day-view {
  height: 620px !important;
} */

/* ////////// Calendar Styling //////////////// */
.fc-header-toolbar {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
}

.fc .fc-toolbar-title {
  font-size: 1rem;
  color: #191453;
  font-weight: medium;
  padding-left: 7px;
}

.fc .fc-toolbar-title::after {
  content: "(asia/Karachi)";
  color: #5a5881;
  font-size: 11px;
  margin-left: 7px;
}

.fc .fc-prev-button,
.fc .fc-next-button {
  background-color: #250ced;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 10px;
}

.fc .fc-prev-button:hover,
.fc .fc-next-button:hover,
.fc .fc-prev-button:active:focus,
.fc .fc-next-button:active:focus {
  background-color: #250ced;
  box-shadow: 0px 10px 30px rgba(86, 59, 255, 0.26);
  border: none;
}

.fc .fc-today-button:disabled,
.fc .fc-today-button:disabled:hover {
  background-color: transparent;
  color: #250ced;
  border: none;
  padding: 0;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 10px;
}

.fc .fc-today-button:not(:disabled),
.fc .fc-today-button:not(:disabled):active:focus {
  font-style: capitalize;
  background-color: transparent;
  color: #250ced;
  border: none;
  padding: 0;
  outline: none;
  box-shadow: none;
}

.fc .fc-today-button:not(:disabled):hover {
  color: #220bd49f;
}

.fc-col-header {
  background-color: #fff;
}

.fc-col-header:first-child {
  border-radius: 8px 0 0 8px;
}

.fc-col-header-cell-cushion {
  font-size: 12px;
  color: #5a5881;
  font-weight: normal;
}

/* Making calendar day links non-linkable */
.fc a[data-navlink] {
  pointer-events: none;
}

/* calendar time styling */
.fc-timegrid-slot-label-cushion {
  font-size: 11px;
  padding: 0;
}

.fc .fc-view-harness {
  height: 90vh !important;
  border: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
