@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Catamaran", sans-serif;
  color: #191453;
}

::marker {
  color: #260ded;
}

.active-nav {
  background-color: blue;
  color: white;
  border-radius: 15px;
  margin: 10px 9px;
  padding: 9px 14px;
}

button {
  outline: none;
}

.features {
  background-image: url(../images/vector_11.png);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: 0 -35%;
}

.carousel-container {
  transition: all 0.3s;
}

/* .offer-para {
  line-height: 2rem;
} */

#offer-para-1 {
  line-height: 2rem;
}

#offer-para-2 {
  line-height: 2rem;
}

#offer-para-3 {
  line-height: 2rem;
}

#offer-para-4 {
  line-height: 2rem;
}

#offer-para-5 {
  line-height: 2rem;
}

#offer-para-6 {
  line-height: 2rem;
}

.build-info-img {
  background-image: url(../images/womensWithButton.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  min-height: 421px;
}

/* typing animation */
.writeit {
  color: black;
  font-size: 3rem;
  font-weight: 700;
  line-height: 38px !important;
  text-align: left;
  min-height: 130px;
}

.writeit span {
  color: #e18c5f !important;
}

.after {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
  animation: blink 1.3s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 48em) {
  .features {
    background: none;
  }

  .charges-container {
    background: url("../images/bg-black-sm-screen.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

@media only screen and (max-width: 26.5625em) {
  .build-info-img {
    min-height: 250px;
  }
}

/* ///////////////////////// STYLING APPLICABLE TO DASHBOARD ///////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
body.dashboard {
  font-family: "Poppins", sans-serif;
}

/* .display-block {
  display: block !important;
}
.display-none {
  display: none !important;
} */

input,
textarea,
select {
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Animations */
.animtaion-infinite {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.rotation-animation {
  -webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
/* Radio Button */
.radio-style {
  border: 2px solid white;
  box-shadow: 0 0 0 1px #191453;
  appearance: none;
  border-radius: 5px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  transition: all ease-in 0.2s;
}
.radio-style:checked {
  background-color: #191453;
}

/* width */
.preview-content::-webkit-scrollbar,
.services-listing::-webkit-scrollbar,
.editor::-webkit-scrollbar,
.chat::-webkit-scrollbar,
.fc-scroller::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.preview-content::-webkit-scrollbar-track,
.services-listing::-webkit-scrollbar-track,
.editor::-webkit-scrollbar-track,
.chat::-webkit-scrollbar-track,
.fc-scroller::-webkit-scrollbar {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
.preview-content::-webkit-scrollbar-thumb,
.services-listing::-webkit-scrollbar-thumb,
.editor::-webkit-scrollbar-thumb,
.chat::-webkit-scrollbar-thumb,
.fc-scroller::-webkit-scrollbar-thumb {
  background: #e6e4e4;
  border-radius: 10px;
}

.chat::-webkit-scrollbar,
.chat::-webkit-scrollbar-track,
.chat::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.chat-box:hover .chat::-webkit-scrollbar,
.chat-box:hover .chat::-webkit-scrollbar-track,
.chat-box:hover .chat::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* #demo-desktop-day-view {
  height: 620px !important;
} */

/* /////////////// Stars Styling in search-details page in preview modal/popup ///////////////////////*/
.rating {
  display: flex;
  transform: rotate(180deg);
}

.rating input {
  display: none;
}

.rating label {
  display: block;
  transform: rotate(180deg);
}

.rating label::before {
  font-family: "Font Awesome 5 Free"; /* updated font-family */
  font-weight: 900; /* regular style/weight */
  content: "\f005";
  font-size: 1.2rem;
  color: #ccc;
  cursor: pointer;
}

.rating label:hover::before,
.rating label:hover ~ label::before {
  color: #ffc224;
}

input:checked ~ label::before {
  color: #ffc224;
}

/* ////////// Calendar Styling //////////////// */
.fc-header-toolbar {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px 2%;
}

.fc .fc-toolbar-title {
  font-size: 1rem;
  color: #191453;
  font-weight: 500;
  padding-left: 7px;
}

.fc .fc-toolbar-title::after {
  content: "(asia/Karachi)";
  color: #5a5881;
  font-size: 11px;
  margin-left: 7px;
}

.fc .fc-prev-button,
.fc .fc-next-button {
  background-color: #250ced;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 10px;
}

.fc .fc-prev-button:hover,
.fc .fc-next-button:hover,
.fc .fc-prev-button:active:focus,
.fc .fc-next-button:active:focus {
  background-color: #250ced;
  box-shadow: 0px 10px 30px rgba(86, 59, 255, 0.26);
  border: none;
}

.fc .fc-today-button:disabled,
.fc .fc-today-button:disabled:hover {
  background-color: transparent;
  color: #250ced;
  border: none;
  padding: 0;
  text-transform: capitalize;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 10px;
}

.fc .fc-today-button:not(:disabled),
.fc .fc-today-button:not(:disabled):active:focus {
  text-transform: capitalize;
  background-color: transparent;
  color: #250ced;
  border: none;
  padding: 0;
  outline: none;
  box-shadow: none;
}

.fc .fc-today-button:not(:disabled):hover {
  color: #220bd49f;
}

.fc-col-header {
  background-color: #fff;
}

.fc-col-header:first-child {
  border-radius: 8px;
}

th.fc-timegrid-axis::before {
  content: "Weekly";
  position: relative;
  top: 15%;
  font-size: 12px;
  color: #191453;
  font-weight: 600;
}

.fc-col-header-cell {
  border: none;
}

.fc th {
  border: none;
}

.fc-theme-standard td:last-child {
  border-right: none;
  border-bottom: none;
}

.fc-col-header-cell-cushion {
  font-size: 12px;
  color: #5a5881;
  font-weight: normal;
  padding: 10px !important;
}

/* Making calendar day links non-linkable */
.fc a[data-navlink] {
  pointer-events: none;
}

.fc .fc-view-harness {
  border: none;
  margin-top: -11px;
}

.fc-theme-standard .fc-scrollgrid {
  border: none;
}

.fc-scrollgrid {
  border-collapse: collapse;
}

.fc-scrollgrid table {
  margin-bottom: 11px;
}

.fc-scroller-harness-liquid {
  border-radius: 8px 0 0 8px;
}

.fc-timegrid-slot-minor {
  display: none;
}

/* ///// calendar timeline styling */
.fc-timegrid-slot-label {
  background-color: #fff;
  border: none !important;
  color: #5a5881;
  padding: 7px !important;
}

.fc-timegrid-slot-label-cushion {
  font-size: 11px;
  border-radius: 1rem;
}

.fc-theme-standard td {
  border-left: none;
}

/* //////////// CALENDAR EVENTS STYLING /////////////////// */
.fc-timegrid-event .fc-event-time {
  white-space: normal;
  padding: 3px 3px 0;
  width: 4rem;
}

.fc-timegrid-slots table tbody tr:nth-child(5) .fc-timegrid-slot-label-frame {
  background-color: #250ced;
  color: #fff;
  border-radius: 10px;
  position: relative;
}

.fc-timegrid-slots
  table
  tbody
  tr:nth-child(5)
  .fc-timegrid-slot-label-frame::before {
  content: "";
  position: absolute;
  top: -40%;
  left: 140%;
  width: 830%;
  height: 2px;
  background-color: #250ced;
}

.fc-timegrid-slots
  table
  tbody
  tr:nth-child(5)
  .fc-timegrid-slot-label-frame::after {
  content: "01:30";
  position: absolute;
  top: -95%;
  left: 950%;
  width: 4rem;
  height: 1.8rem;
  background-color: #250ced;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}

.fc-v-event {
  background-color: #fff;
  border-right: 0.6rem solid #250ced;
  position: relative;
  font-size: 0.75rem;
}

.fc-v-event::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 104%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-left: 3px solid #fff;
  border-bottom: 3px solid transparent;
}

/* .fc-event-time::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 60%;
  width: 8px;
  height: 4px;
  background-color: #fff;
  z-index: 100;
} */

.fc-event-time {
  color: #250ced;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.fc-event-time::before {
  content: "🕓";
  position: absolute;
  top: 15%;
  left: 72%;
  font-size: 0.5rem;
  cursor: pointer;
  filter: sepia(100%) hue-rotate(190deg) saturate(700%);
}

.fc-event-time::after {
  content: "🕑";
  position: absolute;
  top: 60%;
  left: 72%;
  font-size: 0.5rem;
  cursor: pointer;
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

/* .fc-timegrid-event-harness {
  background-color: yellow;
  width: 60%;
} */

@media only screen and (max-width: 37.5em) {
  .fc .fc-prev-button,
  .fc .fc-next-button {
    font-size: 8px;
  }

  .fc .fc-toolbar-title {
    padding-left: 2px;
    margin-bottom: 5px;
    font-size: 15px;
  }

  .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin-left: 4px;
  }

  .fc .fc-toolbar {
    align-items: flex-start;
  }

  .fc .fc-toolbar-title::after {
    display: block;
    margin-left: 0;
  }

  .fc .fc-today-button:disabled,
  .fc .fc-today-button:not(:disabled) {
    font-size: 14px;
  }

  .fc-v-event {
    font-size: 0.4rem;
    border-right: 3px solid #250ced;
  }

  .fc-timegrid-slots
    table
    tbody
    tr:nth-child(5)
    .fc-timegrid-slot-label-frame::before {
    width: 530%;
  }

  .fc-timegrid-slots
    table
    tbody
    tr:nth-child(5)
    .fc-timegrid-slot-label-frame::after {
    left: 550%;
  }

  .fc-timegrid-event .fc-event-time {
    width: auto;
  }

  .fc-event-time::before,
  .fc-event-time::after {
    display: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
